Repository containerbase/internal-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  ".husky/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": "eslint --fix",
  "*": "prettier --ignore-unknown --write"
}

ci: fix command
  .github/workflows/build.yml
Due: prettier --ignore-unknown --write

chore: fix command
  package.json
Due: prettier --ignore-unknown --write

chore: revert
  Dockerfile
Due: prettier --ignore-unknown --write

test: fix test
  test/__snapshots__/util.spec.ts.snap
  test/util.spec.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: fix tsconfig
  tsconfig.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  7fe80f481a19717f3f5d6c6b9b15cc0dcba3fb73
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  ed3c9682c24e9f549885968a934395a5cdbff7f5
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  52fee8d8e13527aba448772348d64bd687f86e92
Due: prettier --ignore-unknown --write

refactor: use named import
  src/utils/github.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: migration
  src/commands/binary/utils.ts
  src/commands/docker/builder.ts
  src/util.ts
  src/utils/builds.ts
  src/utils/config.ts
  src/utils/docker.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  7878a4f53b86909bdc71def572c2a205a336ff85
Due: prettier --ignore-unknown --write

fix: update import
  src/util.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  0ec9dcd4d378a212abb5ffc462b508c2768bc541
Due: prettier --ignore-unknown --write

feat(binary-builder): use `legacy` mode for make latest release
  src/utils/github.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(binary-builder): publis version file to releases
  src/commands/binary/index.ts
  src/utils/github.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(binary-builder): use `legacy` mode for make latest release (#806)
  src/utils/github.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(binary-builder): publish version file to releases (#807)
  src/commands/binary/index.ts
  src/utils/github.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  ff09b7e09e7c2759df1eccd657c7a4822fd2e3b0
Due: prettier --ignore-unknown --write

fix(binary-builder): skip release update and asset upload on dry-run
  .husky/pre-commit
  src/commands/binary/index.ts
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

revert: revert pre-commit change
  .husky/pre-commit
Due: shellcheck, prettier --ignore-unknown --write

Notes added by 'git notes add'
  3ce83f30b2ce06037cdf676646d2933ef11673fa
Due: prettier --ignore-unknown --write

feat(binary-builder): use latest stable version
  src/commands/binary/index.ts
  src/utils/github.ts
  test/commands/binary/index.spec.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(binary-builder): use latest stable version (#810)
  src/commands/binary/index.ts
  src/utils/github.ts
  test/commands/binary/index.spec.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  e4c460a459854978aeebf7b7d03fa576fc0247e5
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  cef05aa34cab34f273b1c6766bc5990485c30854
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  0b4162e48b68b3521953c3c663376ca22a1f769b
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  f3b5cf0d18d03e0cbc001037e1a669f6a2b1afca
Due: prettier --ignore-unknown --write

chore(release): 3.3.3 [skip ci]
  package.json
Due: prettier --ignore-unknown --write
