Repository containerbase/internal-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  92/60121e8a5b13c1dc200f952833a3973723ca80
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  4e/d95587b6168119b24fc1ac03fcae81041bcde2
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  f0/a2c0c9807dc68871f7e452ef4eeb102c4207c0
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  6b/bc5c952921fd03b8bb242934e57dc8d3d2be1b
Due: prettier --ignore-unknown --write

chore: move override to resolution
  package.json
Due: prettier --ignore-unknown --write

Update .github/workflows/build.yml
  .github/workflows/build.yml
Due: prettier --ignore-unknown --write

chore: update husky to v9
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: shellcheck, prettier --ignore-unknown --write

chore: fix prettier
  .prettierrc.json
  src/commands/binary/index.ts
  src/commands/binary/utils.ts
  src/commands/docker/builder.ts
  src/util.ts
  src/utils/builds.ts
  src/utils/config.ts
  src/utils/docker.ts
  src/utils/docker/buildx.ts
  src/utils/github.ts
  src/utils/sum.ts
  src/utils/types.ts
  test/commands/binary/index.spec.ts
  test/commands/binary/utils.spec.ts
  test/commands/docker/builder.spec.ts
  test/util.spec.ts
  test/utils/builds.spec.ts
  test/utils/config.spec.ts
  test/utils/docker.spec.ts
  test/utils/sum.spec.ts
  test/utils/versioning/ubuntu.spec.ts
  tools/jsconfig.json
  tsconfig.json
Due: eslint --fix, prettier --ignore-unknown --write

chore: fix prettier
  .prettierrc.json
  src/commands/binary/index.ts
  src/commands/binary/utils.ts
  src/commands/docker/builder.ts
  src/util.ts
  src/utils/builds.ts
  src/utils/config.ts
  src/utils/docker.ts
  src/utils/docker/buildx.ts
  src/utils/github.ts
  src/utils/sum.ts
  src/utils/types.ts
  test/commands/binary/index.spec.ts
  test/commands/binary/utils.spec.ts
  test/commands/docker/builder.spec.ts
  test/util.spec.ts
  test/utils/builds.spec.ts
  test/utils/config.spec.ts
  test/utils/docker.spec.ts
  test/utils/sum.spec.ts
  test/utils/versioning/ubuntu.spec.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: fix prettier
  test/util.spec.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  04bf0447248683c0dcffba5393594b939bfba0dc
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  e8aca1a19d551f5f71df65055b3ba4cbcf460503
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  a12a7d23492f0805ce2237f46c9b69d9c3ba5f01
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  e7bd2e8cedd99c9b24982865534cb7c9bf88620b
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  60f2d9c8c629fbd0e5183f796ab1750855cb87db
Due: prettier --ignore-unknown --write

chore: prettier
  tools/jsconfig.json
  tsconfig.json
Due: prettier --ignore-unknown --write

fix: code move
  src/utils/builds.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  2951ced35dd6127673e4e2cf937416460a317f3b
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  14399dac6435809436d19e1171379e1170e59cc0
Due: prettier --ignore-unknown --write

chore(release): 3.0.59 [skip ci]
  package.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  27e039eeca3aece58d9f52710e3ef6acfabb5831
Due: prettier --ignore-unknown --write

chore(release): 3.0.60 [skip ci]
  package.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  2d0f3e80979d6096de2c2f4d84936bb4dfab9ac6
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  dc264f478d5abd1fb9e28e29dc3becb0ad57b5a2
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  384ef8410b2475568f104169a03ff54eb822548a
Due: prettier --ignore-unknown --write

fix: api changes
  src/utils/builds.ts
Due: eslint --fix, prettier --ignore-unknown --write

Path conditions:
  shellcheck: (any of: *.sh) or (any of: .husky/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --ignore-unknown --write: any of: *
